.text-styles {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
}
.list-items {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

/* course image size for mobile view  */
.course-img {
  width: 100%;
  background-size: contain;
}

@media screen and (max-width:767px) {
  

  .banner-img{
    height: 450px;
  }
}
@media screen and (max-width:991px) {
  

  .banner-img{
    height: 370px;
  }
}

