.text-styles {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
}
.list-items {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

/* course image size for mobile view  */
.course-img {
  width: 100%;
  background-size: contain;
}

/* some media queries for carousal image */

@media screen and (max-width:991px) {
  

  .banner-img{
    height: 370px;
  }
}
@media screen and (max-width:767px) {
  

  .banner-img{
    height: 450px;
  }
}

/*some media queries for  FREQUENTLY ASKED QUESTION PART  */
@media screen and (min-width:993px) {
  

  .FAQ{
    width: 75%;

  }
}


